.container_logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-ifro {
    width: 120px;
    height: 120px;
    margin: 20px 20px;
}

.lista-restaurantes {
    font-family: "Roboto";
    font-size: 28px;
    margin-left: 8vh;
}
