html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #222;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 300px;
    height: 300px;
}

.descricao {
    width: 300px;
}

.descricao h2 {
    margin-bottom: 5px;
}

.duracao {
    width: 300px;
    margin-top: 25px;
}

.barra {
    width: 300px;
    height: 6px;
    border: 1px solid #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

progress {
    height: 6px;
    width: 0;
    background-color: #222;
}

.ponto {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: -10px;
}

.tempo {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.player {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.botao-play,
.botao-pause {
    font-size: 40px;
    cursor: pointer;
}

.setas {
    font-size: 30px;
    cursor: pointer;
}